[hyoo_js_opt_menu_page_body] {
	justify-content: space-between;
}

[hyoo_js_opt_menu] {
	padding: var(--mol_gap_block);
}

[hyoo_js_opt_menu_content] {
	justify-content: space-between;
}

[hyoo_js_opt_hint] {
	padding: var(--mol_gap_block);
}

[hyoo_js_opt_script] {
	flex: 1 0 60rem;
}

[hyoo_js_opt_script_body] {
	padding: var(--mol_gap_block);
}

[hyoo_js_opt_script_native_marker],
[hyoo_js_opt_script_func_marker] {
	color: var(--mol_theme_focus);
	padding: var(--mol_gap_text);
}

[hyoo_js_opt_script_func_marker] {
	font-size: .75rem;
	text-shadow: 0 0;
}

[hyoo_js_opt_script_func_marker_optimized="true"] {
	color: var(--mol_theme_special);
}
